html, body {
    margin: 0;
    padding: 0;
  }

.background{
    z-index: 996;
    background-color: gray;
    position: relative;
    
    height: 100vh;

    display: flex;
    flex-direction: row;
}
.left{
    background-color: red;
    z-index: 999;
    width: 20%;
    height: 100vh;
}
.right{
    background-color: green;
    width: 80%;
    height: 100vh;
}