html, body {
    margin: 0;
    padding: 0;
  }

.background{
    z-index: 996;
    background-color: gray;
    position: relative;
    
    height: 100vh;

    display: flex;
    flex-direction: row;
}
.left{
    background-color: white;
    z-index: 999;
    width: 25%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.right{
    background-color: gainsboro;
    width: 80%;
    height: 100vh;
}
.hello{
    width: 90%;
    height: 20vh;
    margin-top: 10vh;
    font-family: 'Montserrat';
    font-size: 2vw;
    font-weight: 500;
}
.bold-text {
    font-weight: 600;
    color: rgb(73, 153, 218);
}
.contact{
    background-color: aqua;
    width: 90%;
    height: 5vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo{
    width: 10%;
}